<div class="container login-container">
  <h3>Iniciar sesión</h3>

  <form (ngSubmit)="login()">

      <div class="form-group">
          <label for="txtEmail">Email</label>
          <input type="text" id="txtEmail" name="email" [(ngModel)]="loginDto().email">
      </div>

      <div class="form-group">
          <label for="txtPassword">Contraseña</label>
          <input type="password" id="txtPassword" name="password" [(ngModel)]="loginDto().password">
      </div>

      <button type="submit">Ingresar</button>
  </form>
</div>
